<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
  <sitecore>
    <databases>
      <database id="master" singleInstance="true" type="Sitecore.Data.DefaultDatabase, Sitecore.Kernel" role:require="Standalone or ContentManagement or XMCloud">
        <dataProviders hint="list:AddDataProvider">
          <dataProvider type="Sitecore.Data.DataProviders.CompositeDataProvider, Sitecore.Kernel">
            <param desc="readOnlyDataProviders" hint="list">
              <protobufItems type="Sitecore.Data.DataProviders.ReadOnly.Protobuf.ProtobufDataProvider, Sitecore.Kernel">
                <filePaths hint="list">
                  <customFilePath>$(dataFolder)/custom-items/$(id)</customFilePath>
                </filePaths>
              </protobufItems>
            </param>
          </dataProvider>
        </dataProviders>
      </database>
    </databases>
  </sitecore>
</configuration>