.radio-button.radio-wrapper > label {
  position: relative;
  background: none;
  border: 0;
  box-shadow: inset 0 0 0 1px theme('colors.gray-70');
}

.radio-button.radio-wrapper > label::before,
.radio-button.radio-wrapper > label::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
}

.radio-button.radio-wrapper > label > span::before,
.radio-button.radio-wrapper > label > span::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.radio-button.radio-border::before,
.radio-button.radio-border::after {
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border-radius: theme('borderRadius.md');
}

.radio-button.radio-border::before {
  border-bottom: 2px solid theme('colors.isc2-green');
  transform: scale3d(0, 1, 1);
}

.radio-button.radio-border.radio-checked::before {
  transform: scale3d(1, 1, 1);
  transition: transform 0.1s;
}

.radio-button.radio-border::after {
  border-left: 2px solid theme('colors.isc2-green');
  border-right: 2px solid theme('colors.isc2-green');
  transform: scale3d(1, 0, 1);
  transform-origin: bottom;
}

.radio-button.radio-border.radio-checked::after {
  transform: scale3d(1, 1, 1);
  transition: transform 0.1s 0.1s;
}

.radio-button.radio-top-left-border::before {
  border-top: 2px solid theme('colors.isc2-green');
  transform: scale3d(0, 1, 1);
  transform-origin: top left;
  border-radius: theme('borderRadius.md');
}

.radio-button.radio-top-right-border::after {
  border-top: 2px solid theme('colors.isc2-green');
  transform: scale3d(0, 1, 1);
  transform-origin: top right;
  border-radius: theme('borderRadius.md');
}

.radio-button.radio-top-left-border.radio-checked::before,
.radio-button.radio-top-right-border.radio-checked::after {
  transform: scale3d(1, 1, 1);
  transition: transform 0.1s 0.2s;
}
