.slider-scrollbar {
  /* Firefox */
  cursor: grabbing;
  scrollbar-width: thin;
  scrollbar-color: theme('colors.dark-green') theme('colors.gray-10');
  transition: scrollbar-color 0.3s ease-out;
}

/* For Chrome, Safari, and Opera */
.slider-scrollbar::-webkit-scrollbar {
  cursor: grabbing;
  height: theme('spacing.2');
}

.slider-scrollbar::-webkit-scrollbar-track {
  background-color: theme('colors.gray-10');
}

.slider-scrollbar::-webkit-scrollbar-track:hover {
  width: theme('spacing.1');
  border: 0;
}

.slider-scrollbar::-webkit-scrollbar-thumb {
  background-color: theme('colors.dark-green');
  border-radius: theme('spacing.2');
  border: 1px solid transparent;
  background-clip: padding-box;
}

.slider-scrollbar::-webkit-scrollbar-thumb:hover {
  border: 0;
}

