<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/" xmlns:search="http://www.sitecore.net/xmlconfig/search/">
	<sitecore>
		<settings>
			<setting name="Publishing.DeepScanRelatedItems">
				<patch:remove />
			</setting>
			<setting name="Publishing.DeepScanRelatedItems" value="false">
			</setting>
			<setting name="ExperienceEdge.IncludeDependencyAncestors">
				<patch:remove />
			</setting>
			<setting name="ExperienceEdge.IncludeDependencyAncestors" value="false">
			</setting>
		</settings>
		<pipelines>
			<group groupName="layoutService">
				<pipelines>
					<getLayoutServiceContext>
						<processor type="ISC2.Foundation.SitecoreUtilities.LayoutResolver.LayoutSiteContextExtension, ISC2.Foundation.SitecoreUtilities"
						           patch:after="processor[@type='Sitecore.LayoutService.ItemRendering.Pipelines.GetLayoutServiceContext.SiteContext, Sitecore.LayoutService']" resolve="true">
						</processor>
					</getLayoutServiceContext>
          <!-- Sets the proper serializer for Multiroot Treelist field type. -->
          <getFieldSerializer performanceCritical="true" >
            <processor type="Sitecore.LayoutService.Serialization.Pipelines.GetFieldSerializer.GetMultilistFieldSerializer, Sitecore.LayoutService" resolve="true">
              <FieldTypes hint="list">
                <fieldType id="7">multiroot treelist</fieldType>
              </FieldTypes>
            </processor>
          </getFieldSerializer>
				</pipelines>
			</group>
		</pipelines>		
	</sitecore>
</configuration>